asgiref==3.6.0
distlib==0.3.6
Django==4.2
django-admin-autocomplete-filter==0.7.1
django-cron==0.6.0
django-filter==23.2
filelock==3.12.0
mysql-connector-python==8.0.33
Pillow==9.5.0
platformdirs==3.3.0
protobuf==3.20.3
PyMySQL==1.0.3
sqlparse==0.4.4
virtualenv==20.22.0
