{% include "header.html" %}
    <!-- Main content -->
    <section class="content">

      <!-- Info boxes -->
      <div class="box box-danger">
        <div class="box-header">
          <h3 class="box-title">Add Nemo Details</h3>
        </div>
        <form method="POST" action="" enctype="multipart/form-data">
           {% csrf_token %}

           
        <div class="box-body">
      <div class="row">
        <div class="col-md-3">
         <div class="form-group">
            <label for="exampleInputEmail1">First Name *</label>
            {{form.first_name}}
          </div>
        </div>
        <!-- /.col -->
        <div class="col-md-3">
          <div class="form-group">
             <label for="exampleInputEmail1">Last Name *</label>
             {{form.last_name}}
           </div>
         </div>
         <!-- /.col -->
        <div class="col-md-3">
          <div class="form-group">
            <label>Rank</label>
            <select class="form-control select2" style="width: 100%;" name="rank">
              <option selected="selected">-----</option>
              {% for ranks in rank %}
              <option {% if form.rank.value == ranks.rank_name  %} selected='selected' {% endif %} >{{ ranks.rank_name }}</option>
              {% endfor %}
            </select>
          </div>
          <!-- /.form-group -->
        </div>
        <!-- /.col -->
        <div class="col-md-3">
            <div class="form-group">
               <label for="exampleInputEmail1">Availability</label>
               {{form.availibity}}
             </div>
           </div>
           <!-- /.col -->
        
        <div class="col-md-3">
          <div class="form-group">
            <label>Nationality</label>
            <select class="form-control select2" style="width: 100%;" name="nationality">
              <option selected="selected">-----</option>
              {% for country in country %}
              <option {% if form.nationality.value == country.country_name  %} selected='selected' {% endif %}>{{ country.country_name }}</option>
              {% endfor %}
            </select>
          </div>
          <!-- /.form-group -->
        </div>
        <!-- /.col -->

        <div class="col-md-3">
          <div class="form-group">
            <label>Marital Status</label>
            <select class="form-control select2" style="width: 100%;" name="marital_status">
              <option selected="selected">-----</option>
              <option {% if form.marital_status.value == 'SINGLE'  %} selected='selected' {% endif %} >SINGLE</option>
              <option {% if form.marital_status.value == 'MARRIED'  %} selected='selected' {% endif %} >MARRIED</option>
              <option {% if form.marital_status.value == 'DIVORCED'  %} selected='selected' {% endif %} >DIVORCED</option>
              <option {% if form.marital_status.value == 'WIDOW'  %} selected='selected' {% endif %} >WIDOW</option>
            </select>
          </div>
          <!-- /.form-group -->
        </div>
        <!-- /.col -->
        <div class="col-md-3">
            <div class="form-group">
               <label for="exampleInputEmail1">Date of birth *</label>
               {{form.date_birth}}
             </div>
           </div>
           <!-- /.col -->   
           <div class="col-md-3">
            <div class="form-group">
               <label for="exampleInputEmail1">Birth Place</label>
               {{form.birth_place}}
             </div>
           </div>
           <!-- /.col -->              
           

        <div class="col-md-3">
          <div class="form-group">
            <label>Worked with us</label>
            <select class="form-control select2" style="width: 100%;" name="worked_with_us">
              <option selected="selected">-----</option>
              <option {% if form.worked_with_us.value == 'Yes'  %} selected='selected' {% endif %} >Yes</option>
              <option {% if form.worked_with_us.value == 'No'  %} selected='selected' {% endif %} >No</option>
            </select>
          </div>
          <!-- /.form-group -->
        </div>
        <!-- /.col -->
        <div class="col-md-3">
          <div class="form-group">
            <label>Vessel Type</label>
            <select class="form-control select2" style="width: 100%;" name="vessel_type">
              <option selected="selected">-----</option>
              {% for vessels in vessel %}
              <option {% if form.vessel_type.value == vessels.vessel_name  %} selected='selected' {% endif %}>{{ vessels.vessel_name }}</option>
              {% endfor %}
            </select>
          </div>
          <!-- /.form-group -->
        </div>
        <!-- /.col -->
        <div class="col-md-3">
            <div class="form-group">
              <label>Experience</label>
              <select class="form-control select2" style="width: 100%;" name="experience">
                <option selected="selected">-----</option>
                {% for exp in experience %}
                <option {% if form.experience.value == exp.experience  %} selected='selected' {% endif %}>{{ exp.experience }}</option>
                {% endfor %}
              </select>
            </div>
            <!-- /.form-group -->
          </div>
          <!-- /.col -->  
        <div class="col-md-3">
            <div class="form-group">
              <label>Zone</label>
              <select class="form-control select2" style="width: 100%;" name="zone">
                <option selected="selected">-----</option>
                <option {% if form.zone.value == 'EAST'  %} selected='selected' {% endif %} >EAST</option>
                <option {% if form.zone.value == 'WEST'  %} selected='selected' {% endif %} >WEST</option>
                <option {% if form.zone.value == 'NORTH'  %} selected='selected' {% endif %} >NORTH</option>
                <option {% if form.zone.value == 'SOUTH'  %} selected='selected' {% endif %} >SOUTH</option>
              </select>
            </div>
            <!-- /.form-group -->
          </div>
          <!-- /.col -->
<div class="col-md-3">
            <div class="form-group">
              <label>Grade</label>
              <select class="form-control select2" style="width: 100%;" name="grade">
                <option selected="selected">-----</option>
                {% for gd in grade %}
                <option {% if form.grade.value == gd.grade_name  %} selected='selected' {% endif %} >{{ gd.grade_name }}</option>
                {% endfor %}
              </select>
            </div>
            <!-- /.form-group -->
          </div>
          <!-- /.col -->                            

        <div class="col-md-3">
          <div class="form-group">
             <label for="exampleInputEmail1">Boiler Suit Size</label>
             {{form.boiler_suit_size}}
           </div>
         </div>
         <!-- /.col -->
         
         <div class="col-md-3">
          <div class="form-group">
             <label for="exampleInputEmail1">Safety Shoe Size</label>
             {{form.safety_shoe_size}}
           </div>
         </div>
         <!-- /.col -->
         <div class="col-md-3">
            <div class="form-group">
               <label for="exampleInputEmail1">Height (cm)</label>
               {{form.height}}
             </div>
           </div>
           <!-- /.col -->
           <div class="col-md-3">
            <div class="form-group">
               <label for="exampleInputEmail1">Weight (kgs)</label>
               {{form.weight}}
             </div>
           </div>
           <!-- /.col -->           

         <div class="col-md-3">
          <div class="form-group">
            <label>License Country</label>
            <select class="form-control select2" style="width: 100%;" name="license_country">
              <option selected="selected">-----</option>
              {% for cont in country %}
              <option {% if form.license_country.value == cont.country_name  %} selected='selected' {% endif %} >{{ cont.country_name }}</option>
              {% endfor %}
            </select>
          </div>
          <!-- /.form-group -->
        </div>
        <!-- /.col -->
        <div class="col-md-3">
          <div class="form-group">
             <label for="exampleInputEmail1">INDoS Number</label>
             {{form.INDoS_Number}}
           </div>
         </div>
         <!-- /.col -->      
      </div>
      <!-- /.row -->
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
           <label for="exampleInputFile">Photo</label>
           {{form.profile}}
         </div>
       </div>

       <div class="col-md-6">
           <div class="form-group">
              <label for="exampleInputFile">Resume</label>
              {{form.resume}}
            </div>
          </div>

</div>

    </div>
  </div>

<div class="row">
    <div class="col-sm-6">
      <!-- Info boxes -->
      <div class="box box-danger">
        <div class="box-header">
          <h3 class="box-title">Permanent Address</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                <div class="form-group">
                    <label>Address</label>
                    {{form.permanent_address}}
                    
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                       <label for="exampleInputEmail1">City</label>
                       {{form.permanent_city}}
                     </div>
                   </div>
                   <!-- /.col -->   
                   <div class="col-md-6">
                    <div class="form-group">
                       <label for="exampleInputEmail1">State</label>
                       {{form.permanent_state}}
                       
                     </div>
                   </div>
                   <!-- /.col -->  
                   <div class="col-md-6">
                    <div class="form-group">
                       <label for="exampleInputEmail1">Pincode</label>
                       {{form.permanent_pincode}}
                     </div>
                   </div>
                   <!-- /.col -->  
 
            </div>



        </div>
    </div>


    </div>
<!--col sm 6 start-->
    
    <div class="col-sm-6">
        <!-- Info boxes -->
        <div class="box box-danger">
          <div class="box-header">
            <h3 class="box-title">Temporary Address</h3>
          </div>
          <div class="box-body">
              <div class="row">
                  <div class="col-md-12">
                  <div class="form-group">
                      <label>Address</label>
                      {{form.temp_address}}
                    </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                         <label for="exampleInputEmail1">City</label>
                         {{form.temp_city}}
                       </div>
                     </div>
                     <!-- /.col -->   
                     <div class="col-md-6">
                      <div class="form-group">
                         <label for="exampleInputEmail1">State</label>
                         {{form.temp_state}}
                       </div>
                     </div>
                     <!-- /.col -->  
                     <div class="col-md-6">
                      <div class="form-group">
                         <label for="exampleInputEmail1">Pincode</label>
                         {{form.temp_pincode}}
                       </div>
                     </div>
                     <!-- /.col -->  
   
              </div>
  
          </div>
      </div>
      </div>
    </div>
    <!--col sm 6 end-->
<!-- mobile details start-->
<div class="row">
    <div class="col-sm-12">    
<!-- Info boxes -->
        <div class="box box-danger">
            <div class="box-header">
              <h3 class="box-title">Contact Details</h3>
            </div>
            <div class="box-body">
<div class="row">
           <!-- /.col --> 
           <div class="col-md-6">
            <div class="form-group">
               <label for="exampleInputEmail1">Mobile</label>
               {{form.mobile1}}
             </div>
           </div>
           <!-- /.col --> 
           
           <div class="col-md-6">
            <div class="form-group">
               <label for="exampleInputEmail1">Mobile</label>
               {{form.mobile2}}
             </div>
           </div>
           <!-- /.col --> 
           
           <div class="col-md-6">
            <div class="form-group">
               <label for="exampleInputEmail1">Landline</label>
               {{form.landline}}
             </div>
           </div>
           <!-- /.col --> 
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
               <label for="exampleInputEmail1">Email</label>
               {{form.email1}}
             </div>
           </div>
           <!-- /.col --> 
           <div class="col-md-6">
            <div class="form-group">
               <label for="exampleInputEmail1">Email</label>
               {{form.email2}}
             </div>
           </div>
           <!-- /.col --> 
    </div>


    <button type="submit" class="btn btn-primary">Add Candidate</button>
  </div>
        </div>
</div>
</div>
</form>
</section>
</div>








    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% include "footer.html" %}