{% include 'header.html'%}

    <!-- Main content -->
    <section class="content">
      <!-- Info boxes -->
      <div class="row">
<!-- start cendidate status box-->
        <div class="col-md-4">
          <!-- Widget: user widget style 1 -->
          <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-aqua-active">
              <h3 class="widget-user-username">Candidate status as on</h3>
              <h5 class="widget-user-desc">23-06-2023</h5>
            </div>
            <div class="widget-user-image">
              <span class="info-box-icon bg-red dash-info"><i class="ion ion-ios-people-outline"></i></span>
            </div>
            <div class="box-footer">
              <div class="row">
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <h5 class="description-header">PROPOSED</h5>
                    <span class="description-text">SALES</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <h5 class="description-header">APPROVE</h5>
                    <span class="description-text">FOLLOWERS</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4">
                  <div class="description-block">
                    <h5 class="description-header">JOINED</h5>
                    <span class="description-text">PRODUCTS</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
          </div>
          <!-- /.widget-user -->
        </div>
<!-- end cendidate status box-->

<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="info-dash-box">
    <span class="info-box-icon bg-green dash-info dash-margin"><i class="ion ion-ios-people-outline"></i></span>

    <div class="info-box-content dash-content">
      <span class="info-box-text">Active Users</span>
      <span class="info-box-number">90<small>%</small></span>
    </div>
    <!-- /.info-box-content -->
  </div>
  <!-- /.info-box -->
  <div class="info-dash-box">
    <span class="info-box-icon bg-red dash-info dash-margin"><i class="ion ion-ios-people-outline"></i></span>

    <div class="info-box-content dash-content">
      <span class="info-box-text">Inactive Users</span>
      <span class="info-box-number">90<small>%</small></span>
    </div>
    <!-- /.info-box-content -->
  </div>
  <!-- /.info-box -->
</div>
<!-- /.col -->


<!-- status Box-->
<div class="col-md-4">
  <!-- Widget: user widget style 1 -->
  <div class="box box-widget widget-user-2">
    <!-- Add the bg color to the header using any of the bg-* classes -->

    <div class="box-footer no-padding">
      <ul class="nav nav-stacked dash">
        <li><a href="#">Reminder<span class="pull-right badge bg-blue">31</span></a></li>
        <li><a href="#">Birthday Reminder<span class="pull-right badge bg-aqua">5</span></a></li>
        <li><a href="#">Due For Renewal <span class="pull-right badge bg-red">842</span></a></li>
        <li><a href="#">Todays Calls<span class="pull-right badge bg-green">12</span></a></li>
        <li><a href="#">Crew Planner<span class="pull-right badge bg-red">842</span></a></li>
      </ul>
    </div>
  </div>
  <!-- /.widget-user -->
</div>
<!-- status box end -->
 <!-- fix for small devices only -->
<div class="clearfix visible-sm-block"></div>

</div>
      <!-- /.row -->
<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Available Candidates</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <td>1.</td>
            <td>NCV MASTER(8)</td>
            <td width="50%">
              <div class="progress progress-xs">
                <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
              </div>
            </td>
            <td><span class="badge bg-red">8</span></td>
          </tr>
          <tr>
            <td>2.</td>
            <td>MASTER</td>
            <td>
              <div class="progress progress-xs">
                <div class="progress-bar progress-bar-yellow" style="width: 70%"></div>
              </div>
            </td>
            <td><span class="badge bg-yellow">179</span></td>
          </tr>
          
        </table>
      </div>

    </div>
    <!-- /.box -->
</div>
      

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% include 'footer.html'%}