{% include 'header.html' %}
{% include 'middleware.html' %}

    <!-- Main content -->
<section class="content">
<div class="row">
    <div class="col-md-12">

        <div class="box">
            <div class="box-header">
              <h3 class="box-title">Add Vessel</h3>
            </div>
            <!-- /.box-header -->
            <form method="POST" action="">
              {% csrf_token %}
            <div class="box-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
           <label for="exampleInputEmail1">Vessel Name</label>
           {{form.vessel_name}}
         </div>
       </div>
       <!-- /.col -->  
      </div>
      <!-- /.col -->
      <button type="submit" class="btn btn-primary btn-lg">Add Vessel</button>
    </div>
  </form>
    </div>
    </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {% include 'footer.html' %}