{% include 'header.html' %}
{% include 'middleware.html' %}

<!-- Main content -->
<section class="content">
<div class="row">
    <div class="col-md-12">

        <div class="box">
            <div class="box-header">
              <h3 class="box-title">Add Port</h3>
            </div>
            <!-- /.box-header -->
        <div class="box-body">
    <form method="POST" action="">
      {% csrf_token %}
      <div class="row">
      <div class="col-md-12">
        <div class="form-group">
           <label for="exampleInputEmail1">Port Name</label>
           {{form.port_name}}
         </div>
       </div>
       <!-- /.col -->  
             <!-- /.col -->
             <div class="col-md-12">      
      <button type="submit" class="btn btn-primary">Add Port</button>
             </div>
      </div>
    </form>
    </div>
    </div>
    </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {% include 'footer.html' %}